*{
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 162, 168);
    padding: 5px ;
    column-gap: 5px;
    box-shadow: 0 0 0 20px #AAD9BB;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    
}
.headd{
    font-size: 30%;
}
.nav-item{
    color: aliceblue;
    font-size: larger;
}
.nav-item-container{
    display: flex;
    column-gap: 15px;
}
button{
    background-color: aliceblue;
    border: none;
    color: red;
    border-radius: 10%;
    font-family: mo;
}
.name{
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.ppp{
    width: 80%;
}

a {
    font-size: larger;
}
footer{
    text-align: center;
    background-color: rgb(141, 167, 167);
}